@using Grit.Utility.Web.Json
@{
    ViewBag.Title = "Node Tree";
    ViewBag.RequireJsBundles = new string[] { "jstree-group-js" };
}
@section styles {
    @Styles.Render("~/Content/jstree/themes/proton/style")
}
<h2>@ViewBag.Title</h2>
@section scripts {
    <script>
    require(['jquery', 'bootstrap', 'jstree-group-js', 'utility-js'],
        function ($, bootstrap, app, u) {
            $(document).ready(function () {
                app.init($('#ctl_tree'), @Html.Json(@ViewBag.Tree as object));
                $("#btn_edit").on('click', function(){
                    var tree = app.tree();
                    var selected = tree.get_top_selected();
                    if(selected.length == 0) {
                        u.showToast('error', 'Please select node first');
                        return;
                    }
                    var id = tree.get_node(selected).data.content;
                    window.location.href = '@Url.Action("Edit")/' + id;
                });

                $("#btn_save").on('click', function(){
                    $.ajax({
                        url: "@Url.Action("Group")",
                        type: 'POST',
                        data: JSON.stringify(app.data()),
                        dataType: 'json',
                        processData: false,
                        contentType: 'application/json; charset=utf-8'
                    }).done(function (data) {
                        u.showToast('success','Saved successfully');
                    }).fail(function (data) {
                        u.showToast('error', 'Failed to save');
                    });
                });
            });
        });
    </script>
}

<div class="row">
    <p class="pull-right">Drag and drop tree nodes and rearrange the tree</p>
</div>
<div class="row">
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btn_save">Save Tree</button>
        @Html.ActionLink("New Node", "Edit", null, new { @class = "btn btn-default" })
        <button type="button" class="btn btn-default" id="btn_edit">Edit Node</button>
    </div>
</div>
<div class="row">
    <div id="ctl_tree" class="col-sm-12"></div>
</div>

